﻿@{
    ViewData["Title"] = "Calculator";
}

@model  Sum;

    <form asp-action="CalculateSum" method="post">
        <div class="form-group row">
            <label asp-for="Num1" class="col-form-label"></label>
            <input asp-for="Num1" type="text" class="form-control" />
        </div>

        <div class="form-group row">
            <label asp-for="Num2" class="col-form-label"></label>
            <input asp-for="Num2" type="text" class="form-control" />
        </div>
        <div class="form-group row">
            <label asp-for="Result" class=""></label>
            <input type="text" class="form-control" value="@Model?.Result" readonly/>
        </div>

        <button class="btn btn-primary" type="submit">Calcular</button>
    </form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
